name: Build Recipes PDF

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-pdf:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
    
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends pandoc texlive-xetex texlive-fonts-recommended texlive-latex-extra

      - name: Convert Markdown to PDF
        run: pandoc -f gfm -t pdf --pdf-engine=xelatex --template=template.tex -o recipes.pdf recipes.md
      - name: Upload PDF artifact
        uses: actions/upload-artifact@v4
        with:
          name: recipes-pdf
          path: recipes.pdf
